<h1 class="title-lg">新規登録</h1>

<%= form_with model: @user, url: signup_path, local: true, class: "task-form" do |f| %>
  
  <%# エラーメッセージ表示エリア（もしあれば） %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: "form-input form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :team_id, "所属チーム" %>
    <%= f.collection_select :team_id, Team.all, :id, :name, { include_blank: "選択してください" }, class: "form-input form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, class: "form-input form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "form-input form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "パスワード（確認用）" %>
    <%= f.password_field :password_confirmation, class: "form-input form-control" %>
  </div>

  <div class="form-actions">
    <%= f.submit "登録する", class: "btn submit-btn" %>
  </div>
<% end %>
